.cat-servicos-profissionais {
  background-color: #1e3a8a;
}

.cat-arte-criatividade {
  background-color: #7c3aed;
}

.cat-alimentos-bebidas {
  background-color: #ea580c;
}

.cat-educacao-aulas {
  background-color: #059669;
}

.cat-servicos-gerais {
  background-color: #374151;
}

.cat-beleza-bemestar {
  background-color: #db2777;
}

.cat-vendas-produtos {
  background-color: #b45309;
}

.cat-pets {
  background-color: #0ea5e9;
}

.cat-projetos-inovacao {
  background-color: #6d28d9;
}

.cat-parcerias-trocas {
  background-color: #047857;
}
