.travar-scroll {
  overflow: hidden;
}

#tela-sup {
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  padding: 120px 0;
  padding-top: 300px;
  background-color: rgba(71, 71, 71, 0.7);
  backdrop-filter: blur(10px);
  transition: opacity 400ms ease, visibility 400ms ease;
}

#tela-sup.notrans {
  transition: none;
}

#tela-sup.show {
  opacity: 1;
  visibility: visible;
}

#tela-sup.pesquisar {
  z-index: 8;
}

#tela-sup .tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  /* height: 2000px; */
  margin: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}

#tela-sup .titulo {
  padding: 10px;
  border-radius: 0 0 10px 10px;

  font-size: 20px;
  font-family: "Poppins";
  color: white;
  background-color: #2967f4;
}

#tela-sup form {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 10px;

  font-size: 20px;
  font-family: "Poppins";
  color: #242424;
}

#tela-sup form label {
  margin-left: 10px;
}

#tela-sup form i {
  color: #777;
}

#tela-sup form input,
#tela-sup form select,
#tela-sup form textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;

  font-size: 16px;
  font-family: "Poppins";
}

#tela-sup form textarea {
  margin-bottom: 0;
}

#tela-sup form select {
  padding: 4px;
  font-size: 16px;
}

#tela-sup form textarea {
  height: 120px;
}

#tela-sup .textarea2 {
  height: 237px;
}

#tela-sup form .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#tela-sup form .row-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#tela-sup form .btn-cadastrar-oferta,
#tela-sup form .btn-usuario-logar,
#tela-sup form .btn-usuario-cadastrar {
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Poppins";
  text-align: center;
  color: white;
  background-color: #2967f4;
}

#tela-sup form .btn-cadastrar-oferta:hover,
#tela-sup form .btn-usuario-logar:hover,
#tela-sup form .btn-usuario-cadastrar:hover {
  background-color: #f7941d;
}

#tela-sup .detalhes {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins";
  color: #242424;
}

#tela-sup .dados-descricao {
  font-size: 16px;
}

#tela-sup .dados-info {
  padding-bottom: 10px;
}

#tela-sup .separador {
  width: 100%;
  height: 4px;
  background-color: #2967f4;
}

#erroCadastro {
  color: red;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.formatoCardsPesquisa {
  margin: 20px 0;
}

/* .areapesquisa {
  width: 550px;
} */